
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = null;
}
@using Syncfusion.EJ2
@using Newtonsoft.Json

<script>
    function getValues(url) {
        var result = null;
        $.ajax({
            url: url,
            type: 'get',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            async: false,
            success: function (data) {
                result = data;
            },
        });
        return result;
    }
    function postValues(url, jdata) {
        var result = null;
        $.ajax({
            url: url,
            type: 'post',
            contentType: "application/json; charset=utf-8",
            data: JSON.stringify(jdata),
            dataType: "json",
            async: false,
            success: function (data) {
                result = data;
            },
        });
        return result;
    }
</script>
<script>
    var rootUrl = "http://" + document.location.hostname + ":" + window.location.port;
    function regCancel() {
        try {
            $("#firstview").show();
            $("#secondview").hide();
            Clear();
        }
        catch (e) {
        }
    }
    function Checkconfirmpwd() {
        try {
            var Pwd = $("#adminusrpwd").val();
            var ConfirmPwd = $("#adminusrcnfpwd").val();
            if (Pwd == '') {
                alert('Please Enter Password First');
                $("#adminusrcnfpwd").val('');
            }
            else {
                if (Pwd != ConfirmPwd) {
                    alert('Password Not Match.Please Enter Correct Password');
                    $("#adminusrcnfpwd").val('');
                }
            }
        }
        catch (e) {
        }
    }
    function CheckPwd() {
        try {
            var Pwd = $("#adminusrpwd").val();
            var ConfirmPwd = $("#adminusrcnfpwd").val();
            if (ConfirmPwd == '')
                return;
            else {
                if (Pwd != ConfirmPwd) {
                    alert('Password Not Match.Please Enter Correct Password');
                    $("#adminusrpwd").val('');
                }
            }
        }
        catch (e) {
        }
    }
    function ValidateEmail() {
        try {
            var email = document.getElementById("adminusremail").value;
            var expr = /^([\w-\.]+)@@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;
            if (!expr.test(email)) {
                alert("Invalid email address.");
                $("#adminusremail").val('');
                return;
            }
        }
        catch (e) {
        }
    }
    function CancelClick() {
        try {
            window.location.href = "/Login/Login";
        }
        catch (e) {
        }
    }
    function SendEmail() {
        try {
            var Userid = $("#txtuserid").val();
            if (Userid == '')
                alert('Please  Enter  Userid');
            else {
                $.ajax({
                    type: "GET",
                    url: rootUrl + "/api/Patient/CheckUseridExist?Userid=" + Userid,
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    async: true,
                    success: function (response) {
                        var data = response;
                        if (data == 'success')
                            SentEmail(Userid);
                        else
                            alert('User Id Not Exist.');
                    },
                    failure: function (response) {
                    },
                    error: function (response) {
                    }
                });
            }
        }
        catch (e) {

        }
    }
    function SentEmail(Userid) {
        try {
            var response = getValues("/ForgotPassword/SentEmail/?Userid=" + Userid + "");
            if (response == "")
                alert('Some Error Occured.Please Contact Allied Business Solutions');
            else {
                alert('We have sent a Temporary Password to your Email id.');
                $("#firstview").hide();
                $("#secondview").show();
                sessionStorage.setItem("RandomValue", response);
            }
        }
        catch (e) {

        }
    }
    function CheckTempPwd() {
        try {
            var Temppwd = $("#txttemppwd").val();
            var sessiontemppwd = sessionStorage.getItem("RandomValue");
            if (Temppwd == sessiontemppwd)
                return;
            else {
                alert('Wrong Credentials.Please Enter Correct Temporary Password');
                $("#txttemppwd").val('');
            }
        }
        catch (e) {

        }
    }
    function UpdatePassword() {
        try {
            var Userid = $("#txtuserid").val();
            var Password = $("#adminusrpwd").val();
            var TempPwd = $("#txttemppwd").val();
            var ConfPwd = $("#adminusrcnfpwd").val();
            if (TempPwd == "")
                alert('Please Enter Temporary Password');
            else if (Password == "")
                alert('Please Enter New Password');
            else if (ConfPwd == "")
                alert('Please Enter Confirm Password');
            else {
                var response = getValues("/ForgotPassword/UpdatePassword/?Userid=" + Userid + "&Password=" + Password + "&TempPassword=" + TempPwd + "");
                if (response == true)
                    window.location.href = "/Login/Login";
                else
                    alert('Some Error Occured.');
            }
        }
        catch (e) {

        }
    }

</script>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

</head>

<body class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-4">
                <div class="panel-heading">
                    <h3 class="panel-title"><img class="mb-4" alt="" width="400" height="50" src="~/images/Logo-2.png" /></h3>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Change Password</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" id="firstview">
                            <fieldset>
                                <div class="form-group">
                                    <input type="text" id="txtuserid" class="form-control" onchange="ValidateEmail();" placeholder="Enter User Id" autocomplete="off" autofocus required />
                                </div>
                                <div class="form-group">
                                    <input type="button" id="btnsubmit" onclick="SendEmail();" class="btn btn-lg btn-primary btn-block" autocomplete="off" value="Submit" />
                                </div>
                                <div class="form-group">
                                    <input type="button" id="btncancel" onclick="CancelClick();" class="btn btn-lg btn-primary btn-block" autocomplete="off" value="Cancel" />
                                </div>
                            </fieldset>
                        </form>
                        <form role="form" id="secondview" style="display:none;">
                            <fieldset>
                                <div class="form-group">
                                    <input type="text" id="txttemppwd" class="form-control" placeholder="Temporary Password" onchange="CheckTempPwd();" autocomplete="off" autofocus required />
                                </div>
                                <div class="form-group">
                                    <input type="password" id="adminusrpwd" class="form-control" placeholder="New Password" onchange="CheckPwd();" autocomplete="off" autofocus required />
                                </div>
                                <div class="form-group">
                                    <input type="password" id="adminusrcnfpwd" class="form-control" placeholder="Confirm Password" onchange="Checkconfirmpwd();" autocomplete="off" autofocus required />
                                </div>
                                <div class="form-group">
                                    <input type="button" id="btnsecview" class="btn btn-lg btn-primary btn-block" onclick="UpdatePassword();" autocomplete="off" value="Submit" />
                                </div>
                                <div class="form-group">
                                    <input type="button" id="btncancelreg" onclick="regCancel();" class="btn btn-lg btn-primary btn-block" autocomplete="off" value="Cancel" />
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>

