
@{
    ViewData["Title"] = "ChangePassword";
    Layout = null;
}
@using Syncfusion.EJ2
@using Newtonsoft.Json

<script>
    var rootUrl = "http://" + document.location.hostname + ":" + window.location.port;
   function CheckPwd() {
        try {
            var Pwd = $("#txtnewpwd").val();
            var ConfirmPwd = $("#txtconfirmpwd").val();
            if (ConfirmPwd == '')
                return;
            else {
                if (Pwd != ConfirmPwd) {
                    alert('Password Not Match.Please Enter Correct Password');
                    $("#txtnewpwd").val('');
                }
            }
        }
        catch (e) {
        }
    }
    function Checkconfirmpwd() {
        try {
            var Pwd = $("#txtnewpwd").val();
            var ConfirmPwd = $("#txtconfirmpwd").val();
            if (Pwd == '') {
                alert('Please Enter Password First');
                $("#txtconfirmpwd").val('');
            }
            else {
                if (Pwd != ConfirmPwd) {
                    alert('Password Not Match.Please Enter Correct Password');
                    $("#txtconfirmpwd").val('');
                }
            }
        }
        catch (e) {
        }
    }
    function UpdatePwd() {
        try {
            var currentpwd = $("#txtcurrentpwd").val();
            var newpwd = $("#txtnewpwd").val();
            var confirmpwd = $("#txtconfirmpwd").val();
            if (currentpwd == '')
                alert('Please Enter Current Password');
            else if (newpwd == '')
                alert('Please Enter New Password');
            else if (confirmpwd == '')
                alert('Please Enter Confirm Password');
            else {
                var Logininfo = new Object();
                Logininfo.OldPassword = currentpwd;
                Logininfo.Password = newpwd;
                Logininfo.ConfirmPassword = confirmpwd;
                $.ajax({
                    url: "/ChangePassword/UpdatePassword",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(Logininfo),
                    dataType: 'json',
                    success: function (data) {
                        if (data == true)
                            alert('Password Changed Successfully');
                        window.location.href = "/Login/Login";
                    },
                    failure: function (response) {
                        alert(response);
                    },
                    error: function (response) {
                        alert(response);
                    }
                });
            }
        }
        catch (e) {

        }
    }
    function CancelClick() {
        try {
            window.location.href = "/Login/Login";
        }
        catch (e) {

        }
    }
</script>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>

</head>
<body class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-5 col-md-offset-4">
                <div class="panel-heading">
                    <img class="mb-4" alt="knockdok logo"  src="~/images/Logo-2.png" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-5 col-md-offset-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Change Password</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" id="firstview">
                            <fieldset>
                                <div class="form-group">
                                    <input type="password" id="txtcurrentpwd" class="form-control" placeholder="Enter Current Password" autocomplete="off" autofocus required />
                                </div>
                                <div class="form-group">
                                    <input type="password" id="txtnewpwd" class="form-control" onchange="CheckPwd();" placeholder="Enter New Password" autocomplete="off"  required />
                                </div>
                                <div class="form-group">
                                    <input type="password" id="txtconfirmpwd" class="form-control" onchange="Checkconfirmpwd();" placeholder="Enter Confirm Password" autocomplete="off"  required />
                                </div>
                                <div class="form-group">
                                    <input type="button" id="btnsubmit" onclick="UpdatePwd();" class="btn btn-lg btn-primary btn-block" autocomplete="off" value="Submit" />
                                </div>
                                <div class="form-group">
                                    <input type="button" id="btncancel" onclick="CancelClick();" class="btn btn-lg btn-primary btn-block" autocomplete="off" value="Cancel" />
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
</body>

