
@{
    ViewData["Title"] = "Calendar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .calendar {
        font-size: 12px !important;
    }
</style>
<script>
    $(document).ready(function () {
        $('#calendar').fullCalendar({
            header:
            {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay'
            },

            buttonText: {
                today: 'today',
                month: 'month',
                week: 'week',
                day: 'day'
            },
            businessHours: {
                // days of week. an array of zero-based day of week integers (0=Sunday)
                dow: [1, 2, 3, 4, 5], // Monday - Friday

                start: '08:00', // a start time (8am in this example)
                end: '18:00' // an end time (6pm in this example)
            },
            minTime: '06:30:00',
            maxTime: '19:30:00',
            slotDuration: '00:15:00',
            slotLabelInterval: 15,
            slotLabelFormat: 'h(:mm)a',
            slotMinutes: 15,
            events: function (start, end, timezone, callback) {
                var url = "/Calendar/AppointmentByDoctor?DoctorID=" + 54 + "&HospitalID=" + 71 + "";
                $.ajax({
                    url: url,
                    type: "GET",
                    dataType: "JSON",

                    success: function (result) {
                        var events = [];

                        $.each(result, function (i, data) {
                            events.push(
                                {
                                    title: data.Name,
                                    description: data.ConsultationType,
                                    //start: moment(data.StartDatetime).format('YYYY-MM-DD'),
                                    //end: moment(data.StartDatetime).format('YYYY-MM-DD'),
                                    start: data.StartDatetime,
                                    end: data.EndDatetime,
                                    //backgroundColor: "#E6E6FA",
                                    //borderColor: "#fc0101"
                                    color: '#4d5ba8',   // an option!
                                    textColor: 'White' //
                                });
                        });

                        callback(events);
                    }
                });
            },

            eventRender: function (event, element) {
                element.qtip(
                    {
                        content: event.description
                    });
            },

            editable: false
        });
    });
</script>

<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <br />
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="panel panel-default DivBox">
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12">
                                <div id="calendar" class="col-xs-12 col-sm-12 col-md-12" style="background-color:white;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


