
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Print</title>
    <style>
        .tblheader {
            border-collapse: collapse;
            font-size: 12px;
            width: 100%;
            height: 100%;
        }

        .tblheader, th {
            font-size: 13px;
            width: 100%;
            height: 100%;
        }
    </style>
    <script type="text/javascript">
        function bind()
        {
            var PID = sessionStorage.getItem("PrintDetails");
            document.getElementById("divprint").innerHTML = PID;
            window.print();
        }
    </script>
</head>
<body onload="bind()">
    <div id="divprint" style="color:black;font-size:large;">

    </div>
</body>
</html>
