
@{
    ViewData["Title"] = "Investigaion Master";
}
@using Syncfusion.EJ2
@using Newtonsoft.Json
@model Emr_web.Models.InvestigationMasterView
<link href="~/AutoComplete/jquery-ui_1.11.4.css" rel="stylesheet" />
<script src="~/AutoComplete/jquery-1.10.2.js"></script>
<script src="~/AutoComplete/jquery-ui_1.11.4.js"></script>
<style>
    .main-page {
        background: linear-gradient(-141deg, #FBFAFF 14%, #FBFAFF 100%);
        margin: 0;
    }

    body,
    text {
        font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif, "-apple-system", "BlinkMacSystemFont";
    }

    .form-group.required .control-label:after {
        content: "*";
        color: red;
    }
</style>
<script>
    $(document).ready(function () {
        var instance = ej.base.getComponent(document.getElementById("checkedactive"), "checkbox");
        instance.checked = true;
    });
    function rowSelected(args) {
        var selectedrecords = this.getSelectedRecords();
        document.getElementById('txt_investid').ej2_instances[0].value = selectedrecords[0].Investigation_Seqid;
        document.getElementById('txt_investname').ej2_instances[0].value = selectedrecords[0].Investigation_Name;
        document.getElementById('txt_investrate').ej2_instances[0].value = selectedrecords[0].Investigation_Rate;
        $("#btnsave").hide();
        $("#btnupdate").show();
    }
    function CancelClick() {
        try {
            window.location.href = "/InvestigationMaster/InvestigationMaster";
        }
        catch (e) {

        }
    }
    function InvestigationChange() {
        try {
            var investname = document.getElementById('txt_investname').ej2_instances[0].value;
            $.ajax({
                type: "GET",
                url: rootUrl + "/api/Patient/GetInvestName/?InvestName=" + investname,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: true,
                success: function (response) {
                    var data = response;
                    if (data != "" && data != null) {
                        var InvestSeqid = data[0].Investigation_Seqid;
                        if (InvestSeqid != 0) {
                            alert('Investiation Name Already Exist');
                            document.getElementById('txt_investname').ej2_instances[0].value = "";
                            document.getElementById('txt_investname').ej2_instances[0].focusIn();
                        }
                    }
                },
                failure: function (response) {
                },
                error: function (response) {
                }
            });
        }
        catch (e) {

        }
    }
    function GotoLogin() {
        try {
            window.location.href = "/Login/Login";
        }
        catch (e) {
        }
    }
</script>

<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header" style="margin-top:15px;">
                            <h3 class="card-title">Investigation Master</h3>
                            <img src="~/images/ShutdownWhite.png" style="float:right;cursor:pointer;" onclick="GotoLogin();" />
                        </div>
                        <form role="form" autocomplete="off" method="post" style="font-size:small;" asp-controller="InvestigationMaster" asp-action="InsertInvestigation" data-toggle="validator"
                              onkeydown="return event.key != 'Enter';">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 col-md-6" style="display:none;">
                                        <div class="form-group">
                                            <ejs-textbox id="txt_investid" placeholder="Main Menu Name" value="0" ejs-for="Investigation_Seqid"></ejs-textbox>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                        <div class="form-group required">
                                            <label class="control-label" style="color: black;">
                                                Investigation Name
                                            </label>
                                            <ejs-textbox id="txt_investname" placeholder="Investigation Name" ejs-for="Investigation_Name" blur="InvestigationChange"
                                                         autofocus required></ejs-textbox>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <label class="control-label" style="color: black;">
                                                Investigtion Rate
                                            </label>
                                            <ejs-textbox id="txt_investrate" placeholder="Investigation Rate" ejs-for="Investigation_Rate"></ejs-textbox>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <ejs-checkbox id="checkedactive" checked="true" name="M_IsActive" label="Active" ejs-for="Isactive"></ejs-checkbox>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <button type="submit" id="btnsave" style="background-color:blue;" class="btn btn-info Save">
                                                    Save
                                                </button>
                                                <button type="submit" id="btnupdate" style="display:none;background-color:blue;" class="btn btn-info Update">
                                                    Update
                                                </button>
                                                <button type="button" id="btnCancel" onclick="CancelClick();" style="background-color:blue;" class="btn btn-info">
                                                    Cancel
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <div class="form-group">
                                            <ejs-grid id="GridInvestMaster" width="98%" style="padding:0px 20px;cursor:pointer;"
                                                      dataSource="ViewBag.InvestDetail" allowPaging="true"
                                                      toolbar="@(new List<string>() { "Search"})" rowSelected="rowSelected">
                                                <e-grid-searchsettings fields="@(new string[] { "Investigation_Seqid","Investigation_Name"})"
                                                                       operator="contains" ignoreCase="true"></e-grid-searchsettings>
                                                <e-grid-selectionsettings type="Single"></e-grid-selectionsettings>
                                                <e-grid-pagesettings pageSize="10" pageCount="10"></e-grid-pagesettings>
                                                <e-grid-columns>
                                                    <e-grid-column field="SNO" headerText="SNO"></e-grid-column>
                                                    <e-grid-column field="Investigation_Seqid" visible="false" headerText="Investigation Id"></e-grid-column>
                                                    <e-grid-column field="Investigation_Name" headerText="Investigation Name"></e-grid-column>
                                                    <e-grid-column field="Investigation_Rate" headerText="Investigation Rate"></e-grid-column>
                                                </e-grid-columns>
                                            </ejs-grid>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>



