
@{
    ViewData["Title"] = "DepartmentMaster";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using Syncfusion.EJ2
@using Newtonsoft.Json
@model Emr_web.Models.DepartmentView
<link href="~/AutoComplete/jquery-ui_1.11.4.css" rel="stylesheet" />
<script src="~/AutoComplete/jquery-1.10.2.js"></script>
<script src="~/AutoComplete/jquery-ui_1.11.4.js"></script>
<script>
    $(document).ready(function () {
        var instance = ej.base.getComponent(document.getElementById("checkedactive"), "checkbox");
        instance.checked = true;
    });
    function rowSelected(args) {
        var selectedrecords = this.getSelectedRecords();
        document.getElementById('txt_deptid').ej2_instances[0].value = selectedrecords[0].DeptSeqID;
        document.getElementById('txt_deptname').ej2_instances[0].value = selectedrecords[0].DepartmentName;
        $("#btnsave").hide();
        $("#btnupdate").show();
    }
    function CancelClick() {
        try {
            window.location.href = "/DepartmentMaster/DepartmentMaster";
        }
        catch (e) {
        }
    }
    function GotoLogin() {
        try {
            window.location.href = "/Login/Login";
        }
        catch (e) {
        }
    }
    function DepartmentChange() {
        try {
            var deptname = document.getElementById('txt_deptname').ej2_instances[0].value;
            $.ajax({
                type: "GET",
                url: rootUrl + "/api/Patient/GetDeptName/?DeptName=" + deptname,
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: true,
                success: function (response) {
                    var data = response;
                    if (data != "" && data != null) {
                        var DeptSeqid = data[0].Investigation_Seqid;
                        if (DeptSeqid != 0) {
                            alert('Department Name Already Exist');
                            document.getElementById('txt_deptname').ej2_instances[0].value = "";
                            document.getElementById('txt_deptname').ej2_instances[0].focusIn();
                        }
                    }
                },
                failure: function (response) {
                },
                error: function (response) {
                }
            });
        }
        catch (e) {

        }
    }
</script>

<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header" style="margin-top:15px;">
                            <h3 class="card-title">Department Master</h3>
                            <img src="~/images/ShutdownWhite.png" style="float:right;cursor:pointer;" onclick="GotoLogin();" />
                        </div>
                        <form role="form" autocomplete="off" method="post" asp-controller="DepartmentMaster" asp-action="InsertDepartment" data-toggle="validator"
                              onkeydown="return event.key != 'Enter';">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 col-md-6" style="display:none;">
                                        <div class="form-group">
                                            <ejs-textbox id="txt_deptid" placeholder="Main Menu Name" value="0" ejs-for="DeptSeqID"></ejs-textbox>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <ejs-textbox id="txt_deptname" placeholder="Department Name" ejs-for="DepartmentName" blur="DepartmentChange" autofocus required></ejs-textbox>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                        <div class="form-group">
                                            <ejs-checkbox id="checkedactive" checked="true" name="M_IsActive" label="Active" ejs-for="Isactive"></ejs-checkbox>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <button type="submit" id="btnsave" style="background-color:blue;" class="btn btn-info">
                                                    Save
                                                </button>
                                                <button type="submit" id="btnupdate" style="display:none;background-color:blue;" class="btn btn-info Update">
                                                    Update
                                                </button>
                                                <button type="button" id="btnCancel" style="background-color:blue;" onclick="CancelClick();" class="btn btn-info">
                                                    Cancel
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <div class="form-group">
                                            <ejs-grid id="GridDeptMaster" width="98%" style="padding:0px 20px;cursor:pointer;"
                                                      dataSource="ViewBag.DepartmentDetail" allowPaging="true"
                                                      toolbar="@(new List<string>() { "Search"})" rowSelected="rowSelected">
                                                <e-grid-searchsettings fields="@(new string[] { "DeptSeqID","DepartmentName"})"
                                                                       operator="contains" ignoreCase="true"></e-grid-searchsettings>
                                                <e-grid-selectionsettings type="Single"></e-grid-selectionsettings>
                                                <e-grid-pagesettings pageSize="10" pageCount="10"></e-grid-pagesettings>
                                                <e-grid-columns>
                                                    <e-grid-column field="SNO" headerText="SNO"></e-grid-column>
                                                    <e-grid-column field="DeptSeqID" visible="false" headerText="Department Id"></e-grid-column>
                                                    <e-grid-column field="DepartmentName" headerText="Department Name"></e-grid-column>
                                                </e-grid-columns>
                                            </ejs-grid>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

