
@{
    ViewData["Title"] = "UserChangePassword";
}

@using Syncfusion.EJ2.Navigations;
<link href="~/AutoComplete/jquery-ui_1.11.4.css" rel="stylesheet" />
<script src="~/AutoComplete/jquery-1.10.2.js"></script>
<script src="~/AutoComplete/jquery-ui_1.11.4.js"></script>

<style>
    .main-page {
        background: linear-gradient(-141deg, #FBFAFF 14%, #FBFAFF 100%);
        margin: 0;
    }

    body,
    text {
        font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif, "-apple-system", "BlinkMacSystemFont";
    }

    .form-group.required .control-label:after {
        content: "*";
        color: red;
    }
</style>

<script>
    var rootUrl = "http://" + document.location.hostname + ":" + window.location.port;
    function CheckPwd() {
        try {
            var Pwd = $("#txtnewpwd").val();
            var ConfirmPwd = $("#txtconfirmpwd").val();
            if (ConfirmPwd == '')
                return;
            else {
                if (Pwd != ConfirmPwd) {
                    alert('Password Not Match.Please Enter Correct Password');
                    $("#txtnewpwd").val('');
                }
            }
        }
        catch (e) {
        }
    }
    function Checkconfirmpwd() {
        try {
            var Pwd = $("#txtnewpwd").val();
            var ConfirmPwd = $("#txtconfirmpwd").val();
            if (Pwd == '') {
                alert('Please Enter Password First');
                $("#txtconfirmpwd").val('');
            }
            else {
                if (Pwd != ConfirmPwd) {
                    alert('Password Not Match.Please Enter Correct Password');
                    $("#txtconfirmpwd").val('');
                }
            }
        }
        catch (e) {
        }
    }
    function UpdatePwd() {
        try {
            var currentpwd = $("#txtcurrentpwd").val();
            var newpwd = $("#txtnewpwd").val();
            var confirmpwd = $("#txtconfirmpwd").val();
            if (currentpwd == '')
                alert('Please Enter Current Password');
            else if (newpwd == '')
                alert('Please Enter New Password');
            else if (confirmpwd == '')
                alert('Please Enter Confirm Password');
            else {
                var Logininfo = new Object();
                Logininfo.OldPassword = currentpwd;
                Logininfo.Password = newpwd;
                Logininfo.ConfirmPassword = confirmpwd;
                $.ajax({
                    url: "/UserChangePassword/UpdatePassword",
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify(Logininfo),
                    dataType: 'json',
                    success: function (data) {
                        if (data == true) {
                            alert('Password Changed Successfully');
                            window.location.href = "/Login/Login";
                        }
                        else {
                            alert('Wrong Credentials.Pleae Enter Valid Current Password');
                        }
                    },
                    failure: function (response) {
                        alert(response);
                    },
                    error: function (response) {
                        alert(response);
                    }
                });
            }
        }
        catch (e) {

        }
    }
    function CancelClick() {
        try {
            window.location.href = "/UserChangePassword/UserChangePassword";
        }
        catch (e) {

        }
    }
    function GotoLogin() {
        try {
            window.location.href = "/Login/Login";
        }
        catch (e) {
        }
    }
</script>


<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header" style="margin-top:15px;">
                            <h3 class="card-title">Change Password</h3>
                            <img src="~/images/ShutdownWhite.png" style="float:right;cursor:pointer;" onclick="GotoLogin();" />
                        </div>
                        <form style="font-size:small;">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                        <div class="form-group required">
                                            <label class="control-label" style="color: black;">
                                                Current Password
                                            </label>
                                            <input type="password" id="txtcurrentpwd" class="form-control" placeholder="Enter Current Password"
                                                   autocomplete="off" autofocus required />
                                        </div>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                        <div class="form-group required">
                                            <label class="control-label" style="color: black;">
                                                New Password
                                            </label>
                                            <input type="password" id="txtnewpwd" class="form-control" onchange="CheckPwd();" placeholder="Enter New Password"
                                                   autocomplete="off" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                        <div class="form-group required">
                                            <label class="control-label" style="color: black;">
                                                Confirm Password
                                            </label>
                                            <input type="password" id="txtconfirmpwd" class="form-control" onchange="Checkconfirmpwd();" placeholder="Enter Confirm Password"
                                                   autocomplete="off" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <div class="col-xs-6 col-sm-6 col-md-6">
                                            <div class="form-group">
                                                <button type="button" id="btnsave" onclick="UpdatePwd();" style="background-color:blue;" class="btn btn-info">
                                                    Save
                                                </button>
                                                <button type="button" id="btnCancel" onclick="CancelClick();" style="background-color:blue;"
                                                        class="btn btn-info">
                                                    Cancel
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>




