
@{
    ViewData["Title"] = "Terms";
}

<link href="~/AutoComplete/jquery-ui_1.11.4.css" rel="stylesheet" />
<script src="~/AutoComplete/jquery-1.10.2.js"></script>
<script src="~/AutoComplete/jquery-ui_1.11.4.js"></script>

<script type="text/javascript">
    var rootUrl = "http://" + document.location.hostname + ":" + window.location.port;
    $(document).ready(function () {
        TermsBind();
    });
   
    function GotoLogin() {
        try {
            window.location.href = "/Login/Login";
        }
        catch (e) {
        }
    }
    function TermsBind() {
        try {
            $.ajax({
                type: "GET",
                url: rootUrl + "/api/Patient/GetTermsFromConfig",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                async: true,
                success: function (data) {
                    var div = document.getElementById('termscondions');
                    div.innerHTML += data;
                },
                failure: function (response) {
                },
                error: function (response) {
                }
            });
        }
        catch (e) {
        }
    }
</script>

<div class="content-wrapper">
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header" style="margin-top:15px;">
                            <h3 class="card-title">Terms and Conditions</h3>
                            <img src="~/images/ShutdownWhite.png" style="float:right;cursor:pointer;" onclick="GotoLogin();" />
                        </div>
                        <form role="form" autocomplete="off" method="post" asp-controller="Patient" asp-action="PatientRegistration" data-toggle="validator" onkeydown="return event.key != 'Enter';">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <div id="termscondions">

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

