

<style>
    label {
        font-size: 14px;
        font-weight: 600;
        font-style: serif;
    }

    hr {
        margin: 20px 0;
        border: 0;
        border-top: 1px solid #E0DFDF;
        border-bottom: 1px solid #FEFEFE;
    }

    th {
        position: sticky;
        top: 0;
        background: white;
    }

    table {
        position: relative;
    }

    .modal-lg {
        width: 1000px;
        margin: auto;
    }

    .input-group-text {
        border: none;
        background-color: white;
    }

    #modal-CategoryUOM {
        z-index: 9997;
    }

    #modal-Substance {
        z-index: 9998;
    }

    hr {
        border-bottom: 1px solid;
    }

    .table-wrap {
        height: 450px;
        overflow-y: auto;
    }

    .btn {
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        transition: box-shadow 0.28s;
    }

    .btn-primary {
        color: #fff;
        background-color: #337ab7;
        border-color: #337ab7;
        box-shadow: none;
        border-width: 0 !important;
        overflow: hidden;
        position: relative;
        user-select: none;
        padding: 9px 14px 8px 14px;
    }
</style>

<script>
    var rootUrl = "http://" + document.location.hostname + ":" + window.location.port;
    $(document).ready(function () {
        Pageload();
    });
    function Pageload() {
        try {
            let startYear = 1950;
            let startmonth = 1;
            let endYear = new Date().getFullYear();
            let endmonth = new Date().getMonth() + 2;
            for (i = endYear; i > startYear; i--) {
                $('#fromyearpicker').append($('<option />').val(i).html(i));
            }
            for (i = endYear; i > startYear; i--) {
                $('#toyearpicker').append($('<option />').val(i).html(i));
            }
            for (i = startmonth; i < endmonth; i++) {
                $('#frommonthpicker').append($('<option />').val(i).html(i));
            }
            for (i = startmonth; i < endmonth; i++) {
                $('#tomonthpicker').append($('<option />').val(i).html(i));
            }
        }
        catch (e) {

        }
    }
    function FromyearChange() {
        try {
            var fromyear = $("#fromyearpicker").val();
            var endYear = new Date().getFullYear();
            if (fromyear == endYear) {
                let startmonth = 1;
                let endmonth = new Date().getMonth() + 2;
                $('#frommonthpicker').empty();
                for (i = startmonth; i < endmonth; i++) {
                    $('#frommonthpicker').append($('<option />').val(i).html(i));
                }
            }
            else {
                let startmonth = 1;
                let endmonth = 13;
                $('#frommonthpicker').empty();
                for (i = startmonth; i < endmonth; i++) {
                    $('#frommonthpicker').append($('<option />').val(i).html(i));
                }
            }
        }
        catch (e) {

        }
    }
    function ToyearChange() {
        try {
            var toyear = $("#toyearpicker").val();
            var endYear = new Date().getFullYear();
            if (toyear == endYear) {
                let startmonth = 1;
                let endmonth = new Date().getMonth() + 2;
                $('#tomonthpicker').empty();
                for (i = startmonth; i < endmonth; i++) {
                    $('#tomonthpicker').append($('<option />').val(i).html(i));
                }
            }
            else {
                let startmonth = 1;
                let endmonth = 13;
                $('#tomonthpicker').empty();
                for (i = startmonth; i < endmonth; i++) {
                    $('#tomonthpicker').append($('<option />').val(i).html(i));
                }
            }
        }
        catch (e) {

        }
    }
    function BindInvoice() {
        try {
            var fromyear = $("#fromyearpicker").val();
            var toyear = $("#toyearpicker").val();
            var frommonth = $("#frommonthpicker").val();
            var tomonth = $("#tomonthpicker").val();
            $.ajax({
                url: rootUrl + "/api/InvoiceSummaryApi/getAllInvoice",
                type: "GET",
                data: {
                    fromyear: fromyear,
                    toyear: toyear,
                    frommonth: frommonth,
                    tomonth: tomonth
                },
                dataType: "json",
                beforeSend: function () { $("#loading").css("display", "block"); },
                success: function (response) {
                    if (response.Header.length > 0) {
                        $("#Container").html('');
                        var html = "<table id='tblInvoice' class='table  table-bordered table-hover dataTable table-reflow' border=1 cellpadding=3 style='color:black;'>";
                        html += "<thead><th>S.No</th><th>GST No</th><th>Supplier Name</th><th>Invoice Number</th><th>Invoice Date</th>";
                        html += "<th>Tax</th><th>Net Amount</th><th>SGST</th><th>CGST</th></thead>";
                        for (PCHeader = 0; PCHeader < response.Header.length; PCHeader++) {
                            var ID = response.Header[PCHeader].ID;
                            var GSTNO = response.Header[PCHeader].PH_Supplier_GSTRegNo;
                            var SupplierName = response.Header[PCHeader].SupplierName;
                            var SupplierInvoiceNum = response.Header[PCHeader].SupplierInvoiceNum;
                            var SupplierInvoiceDate = response.Header[PCHeader].SupplierInvoiceDate;
                            var InvoiceTax = response.Header[PCHeader].RowTax;
                            var InvoiceNetAmt = response.Header[PCHeader].RowNetAmount;
                            var SGST = response.Header[PCHeader].SGST;
                            var CGST = response.Header[PCHeader].IGST;

                            html += "<tr>";
                            html += "<td>" + ID + "</td>";
                            html += "<td>" + GSTNO + "</td>";
                            html += "<td>" + SupplierName + "</td>";
                            html += "<td >" + SupplierInvoiceNum + "</td>";
                            html += "<td >" + SupplierInvoiceDate + "</td>";
                            html += "<td>" + InvoiceTax + "</td>";
                            html += "<td>" + InvoiceNetAmt + "</td>";
                            html += "<td>" + SGST + "</td>";
                            html += "<td>" + CGST + "</td>";
                            html += "</tr>";
                        }
                        html += "</table>";
                        $("#Container").html(html);
                        if (response.Deatils.length > 0) {
                            $("#Summary").html('');
                            var html = "<table id='tblInvoiceSummary' class='table  table-bordered table-hover dataTable table-reflow' border=1 cellpadding=3 style='color:black;'>";
                            html += "<thead><th>Group</th><th>Amount</th><th>Tax</th>";
                            html += "<th>Net Amt</th></thead>";
                            for (PCDetails = 0; PCDetails < response.Deatils.length; PCDetails++) {
                                var VatGroup = response.Deatils[PCDetails].VatGroup;
                                var Amount = response.Deatils[PCDetails].Amount;
                                var Tax = response.Deatils[PCDetails].Tax;
                                var NetAmt = response.Deatils[PCDetails].NetAmt;
                                html += "<tr>";
                                html += "<td>" + VatGroup + "</td>";
                                html += "<td >" + Amount + "</td>";
                                html += "<td >" + Tax + "</td>";
                                html += "<td>" + NetAmt + "</td>";
                                html += "</tr>";
                            }
                            html += "</table>";
                            $("#Summary").html(html);
                        }
                    }
                    else {
                        $("#Container").html('');
                        $("#Summary").html('');
                        alert('No data Found');
                    }
                },
                complete: function () { $("#loading").css("display", "none"); }
            });
        }
        catch (e) {

        }
    }
</script>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12">

        <div class="card-body">
            <div class="row">
                <div class="col-xs-3 col-sm-3 col-md-3">
                    <div class="form-group">
                        <label>
                            From Year
                        </label>
                        <select name="fromyearpicker" id="fromyearpicker" onchange="FromyearChange();"></select>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3">
                    <div class="form-group">
                        <label>
                            From Month
                        </label>
                        <select name="frommonthpicker" id="frommonthpicker" onchange="ToyearChange();"></select>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3">
                    <div class="form-group">
                        <label>
                            To Year
                        </label>
                        <select name="toyearpicker" id="toyearpicker"></select>
                    </div>
                </div>
                <div class="col-xs-3 col-sm-3 col-md-3">
                    <div class="form-group">
                        <label>
                            To Month
                        </label>
                        <select name="tomonthpicker" id="tomonthpicker"></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button class="btn btn-primary" onclick="BindInvoice();">Search</button>
                    <button class="btn btn-primary" id="btnExport" onclick="downloadInvoiceReport();">Export Excel</button>
                    <button class="btn btn-primary" onclick="ClearInvoice();">Cancel</button>
                </div>
            </div>
            <br />
            <div class="row table-wrap">
                <table class="table table-bordered table-striped" id="tblSalesTaxReport" style="height:0px">
                    <thead>
                        <tr style="font-size:13px;font-weight:700;font-family:sans-serif;">
                            <th>Invoice No</th>
                            <th>Invoice Date</th>
                            <th>Supplier / Service Provider Name</th>
                            <th>GSTIN</th>
                            <th>GST Rate</th>
                            <th>Taxable Value</th>
                            <th>IGST Paid</th>
                            <th>CGST Paid</th>
                            <th>SGST Paid</th>
                            <th>Total Bill Amount</th>
                        </tr>
                    </thead>
                    <tbody style=" font-size: 13px;">
                    </tbody>
                </table>
            </div>
            <br />
            <div class="row table-wrap">
                <table class="table table-bordered table-striped" id="tblSalesTaxReport" style="height:0px">
                    <thead>
                        <tr style="font-size:13px;font-weight:700;font-family:sans-serif;">
                            <th>Invoice No</th>
                            <th>Invoice Date</th>
                            <th>Supplier / Service Provider Name</th>
                            <th>GSTIN</th>
                            <th>GST Rate</th>
                            <th>Taxable Value</th>
                            <th>IGST Paid</th>
                            <th>CGST Paid</th>
                            <th>SGST Paid</th>
                            <th>Total Return</th>
                        </tr>
                    </thead>
                    <tbody style=" font-size: 13px;">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
