@{
    ViewData["Title"] = "Current Stock";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .btn {
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        transition: box-shadow 0.28s;
    }

    .btn-primary {
        color: #fff;
        background-color: #337ab7;
        border-color: #337ab7;
        box-shadow: none;
        border-width: 0 !important;
        overflow: hidden;
        position: relative;
        user-select: none;
        padding: 9px 14px 8px 14px;
    }

    .table-wrap {
        height: 450px;
        overflow-y: auto;
    }
    #loading {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,0.8);
        z-index: 1000;
    }

    #loading1 {
        display: none;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,0.8);
        z-index: 1000;
    }

    #loadingcontent {
        display: table;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    #loadingspinner {
        display: table-cell;
        vertical-align: middle;
        width: 100%;
        text-align: center;
        font-size: larger;
        padding-top: 80px;
    }

    .PadingClass {
        padding: 0px !important;
    }

</style>

<script>
    var rootUrl = "http://" + document.location.hostname + ":" + window.location.port;

    $(document).ready(function () {
        onBindCurrentStock();

    });

    function onclc() {
        $('#open').modal('show');
    }

    function onBindCurrentStock() {
        var stockName = $('#drpStockName option:selected').text();
        var search = $('#txtDrugSearch').val();
        if (search == "" || search == null) {
            search =""
        }

        $.ajax({

            type: "Get",
            url: rootUrl + "/api/CurrentStockApi/GetCurrentStockDetailsBySearch?storeName=" + stockName + "&search=" + search,
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            beforeSend: function () { $("#loading").css("display", "block"); },
            success: function (response) {
                var html;
                $("#tblCurrentStock tbody").empty();
                for (i = 0; i < response.length; i++) {
                    html += "<tr>";
                    html += "<td >" + response[i].RowNumber + "</td>";
                    html += "<td>" + response[i].PH_CUR_DRUGBRANDNAME + "</td>";
                    html += "<td>" + response[i].PH_CUR_STOCK + "</td>";
                    html += "<td>" + response[i].PH_CUR_STOCKUOM + "</td>";
                    html += "<td>" + response[i].PH_CUR_STOCK_BATCHNO + "</td>";
                    html += "<td>" + response[i].PH_CUR_STOCK_EXPIRYDT + "</td>";
                    html += "<td>" + response[i].PH_CUR_STOCK_PURCHCOST + "</td>";
                    html += "<td>" + response[i].PH_CUR_STOCK_BILLINGPRICE + "</td>";
                    html += "<td>" + response[i].PH_CUR_STOCK_STORENAME + "</td>";
                    html += "<tr>";
                }
                $("#tblCurrentStock tbody").append(html);
               

            },
             complete: function () { $("#loading").css("display", "none"); }
             
        })


    }
    function getDrugDetailsbySearch() {
        var StockName = $('#drpStockName option:selected').text();
        var Saerch = $('#txtDrugSearch').val();
    }
    function GotoLogin() {
        try {
            window.location.href = "/Login/Login";
        }
        catch (e) {
        }
    }
</script>

<div class="content-wrapper" style=" font-family: arial, sans-serif;">
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12">
                    <div class="panel panel-default DivBox" style="background-color: white;">
                        <div class="panel-heading" style="background-color: #007bff;color: white;margin-top: 6px;height:50px;">
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <h3 class="card-title" style="padding-top: 11px;padding-left: 7px;">Current Stock</h3>
                                    <img src="~/images/ShutdownWhite.png" style="padding-top:11px;padding-right:7px;float:right;cursor:pointer;" onclick="GotoLogin();" />
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-xs-1-5 col-sm-1-5 col-md-1-5">
                                    <label style=" margin-top: 8px;">Stock Name:</label>
                                </div>
                                <div class="col-xs-3 col-sm-3 col-md-3">
                                    <select class="form-control" onchange="onBindCurrentStock();" id="drpStockName">
                                        <option>All</option>
                                        <option>OPPHARMACY</option>
                                        <option>IPPHARMACY</option>
                                        <option>MAINSTORE</option>
                                    </select>
                                </div>

                            </div>
                            <br />
                            <div class="row">
                                <div class="col-xs-5 col-sm-5 col-md-5">
                                    <input type="text" class="form-control" placeholder="Search" id="txtDrugSearch" onkeyup="onBindCurrentStock();">

                                </div>
                                <div class="col-xs-1 col-sm-1 col-md-1">
                                    <button class="btn btn-primary" style="float:right">
                                        <i class="fas fa-print"></i>

                                        Print
                                    </button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-xs-12 col-sm-12 col-md-12">
                                    <div class="table-wrap ">
                                        <table class="table table-bordered" id="tblCurrentStock">
                                            <thead>
                                                <tr style="font-size:15px;font-weight:700;font-family:sans-serif;line-height:15px">
                                                    <th>S.No</th>
                                                    <th>Drug Name</th>
                                                    <th>Current Stock</th>
                                                    <th>UOM</th>
                                                    <th>Batch No</th>
                                                    <th>Expiry Date</th>
                                                    <th>Purchase Cost</th>
                                                    <th>Billing Price</th>
                                                    <th>Store Name</th>
                                                </tr>
                                            </thead>
                                            <tbody style="font-size: 14px; font-weight: 600; line-height: 13px; ">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>